BasedOnStyle: WebKit
Standard: c++17

ColumnLimit: 120
QualifierAlignment: Left
FixNamespaceComments: true
ReflowComments: true
AllowShortFunctionsOnASingleLine: None
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: DontAlign
IndentExternBlock: Indent
IndentCaseLabels: true
NamespaceIndentation: Inner
